In [10]:
import pm4py

log_path = "logs/running-example.jsonocel"
ocel = pm4py.read_ocel_json(log_path)

In [11]:
ocel.relations[ocel.relations["ocel:eid"]=="6.0"]

,ocel:eid,ocel:activity,ocel:timestamp,ocel:oid,ocel:type,ocel:qualifier
38,6.0,place order,2019-05-20 12:30:30,iPhone 11,products,None
39,6.0,place order,2019-05-20 12:30:30,iPhone 11 Pro,products,None
40,6.0,place order,2019-05-20 12:30:30,iPad Air,products,None
41,6.0,place order,2019-05-20 12:30:30,990003,orders,None
42,6.0,place order,2019-05-20 12:30:30,880009,items,None
43,6.0,place order,2019-05-20 12:30:30,Majid Rafiei,customers,None
44,6.0,place order,2019-05-20 12:30:30,880010,items,None
45,6.0,place order,2019-05-20 12:30:30,Fire Stick,products,None
46,6.0,place order,2019-05-20 12:30:30,880011,items,None
47,6.0,place order,2019-05-20 12:30:30,880012,items,None

In [12]:
pm4py.ocel_objects_summary(ocel)

,ocel:oid,activities_lifecycle,lifecycle_start,lifecycle_end,lifecycle_duration,interacting_objects
0,660001,"[create package, send package, failed delivery...",2019-05-23 11:00:25,2019-05-23 19:14:00,29615.0,"{990013, iPhone X, Kindle, 880006, 880038, 990..."
1,660002,"[create package, send package, package delivered]",2019-05-23 17:26:26,2019-05-24 15:54:44,80898.0,"{iPad Pro, Fire Stick 4K, 880098, 880101, Echo..."
2,660003,"[create package, send package, failed delivery...",2019-05-24 10:49:32,2019-05-28 12:42:06,352354.0,"{990004, 880020, 880069, 990017, Echo Show 5, ..."
3,660004,"[create package, send package, package delivered]",2019-05-24 15:49:44,2019-05-27 12:39:25,247781.0,"{Echo Plus, 880012, 990028, 880077, Fire Stick..."
4,660005,"[create package, send package, package delivered]",2019-05-25 01:00:00,2019-05-29 09:50:36,377436.0,"{880067, 880068, iPhone 8, 880017, Echo Show 8..."
...,...,...,...,...,...,...
11516,iPad mini,"[place order, place order, confirm order, pick...",2019-05-20 21:49:13,2020-07-30 16:14:55,37736742.0,"{991561, 660651, 884742, 886502, 883041, 88074..."
11517,iPhone 11,"[place order, confirm order, pick item, pay or...",2019-05-20 12:30:30,2020-08-19 17:57:32,39504422.0,"{886838, 660651, 881132, 661043, 882811, 88036..."
11518,iPhone 11 Pro,"[place order, confirm order, pay order, pick i...",2019-05-20 12:30:30,2020-06-29 15:25:50,35088920.0,"{883041, 990820, 990138, 881685, 883291, 88485..."
11519,iPhone 8,"[place order, confirm order, place order, plac...",2019-05-21 12:16:25,2020-07-30 16:14:55,37684710.0,"{991561, 881157, 881132, 881973, 880746, 88281..."
11520,iPhone X,"[place order, pick item, place order, confirm ...",2019-05-20 17:22:31,2020-08-25 16:30:41,40000090.0,"{881132, 990706, 885083, 887671, 991936, 88058..."

In [14]:
result = pm4py.ocel.cluster_equivalent_ocel(ocel, "customers")

/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)

/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.objects[ocel.object_id_column] = ocel.objects[ocel.object_id_column].map(overall_objects)
/Users/wojciechzyla/Desktop/AGH/semestr_8/MB/projekt-mb/env_mb/lib/python3.8/site-packages/pm4py/objects/ocel/util/rename_objs_ot_tim_lex.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocel.relations[ocel.object_id_column] = ocel.relations[ocel.object_id_column].map(overall_objects)

In [3]:
ocel.objects["ocel:type"].unique()

array(['products', 'customers', 'items', 'orders', 'packages'],
      dtype=object)

In [4]:
ocel.objects[ocel.objects["ocel:type"] == "customers"]

                       ocel:oid  ocel:type  cost producer   age  bankaccount
20               Marco Pegoraro  customers   NaN      NaN  50.0      91248.0
21                  Gyunam Park  customers   NaN      NaN  55.0      27275.0
22                 Majid Rafiei  customers   NaN      NaN  46.0      74370.0
23                 Junxiong Gao  customers   NaN      NaN  52.0      96270.0
24                  Seran Uysal  customers   NaN      NaN  40.0      69940.0
25         Christina Rensinghof  customers   NaN      NaN  41.0      17020.0
26            Wil van der Aalst  customers   NaN      NaN  34.0      48846.0
27            Christine Dobbert  customers   NaN      NaN  43.0      59702.0
28                  Luis Santos  customers   NaN      NaN  48.0      37644.0
29                  Kefang Ding  customers   NaN      NaN  38.0      76896.0
30       Mohammadreza Fani Sani  customers   NaN      NaN  51.0      61801.0
31             Tobias Brockhoff  customers   NaN      NaN  30.0      69038.0
32  Anahita Farhang Ghahfarokhi  customers   NaN      NaN  58.0      42513.0
33                Mahnaz Qafari  customers   NaN      NaN  40.0      83924.0
34                 Claudia Graf  customers   NaN      NaN  54.0      29653.0
35                Mahsa Bafrani  customers   NaN      NaN  58.0      35775.0
36                  Lisa Mannel  customers   NaN      NaN  51.0      44449.0

In [5]:
ocel = pm4py.filtering.filter_ocel_object_attribute(ocel, "ocel:oid", ["Majid Rafiei"])
ocel = pm4py.filtering.filter_ocel_event_attribute(ocel, "ocel:activity", ["place order"])

In [6]:
ocel.relations[ocel.relations["ocel:eid"]=="6.0"]

,ocel:eid,ocel:activity,ocel:timestamp,ocel:oid,ocel:type,ocel:qualifier
43,6.0,place order,2019-05-20 12:30:30,Majid Rafiei,customers,None

,ocel:oid,activities_lifecycle,lifecycle_start,lifecycle_end,lifecycle_duration,interacting_objects
0,Majid Rafiei,"[place order, place order, place order, place ...",2019-05-20 12:30:30,2020-05-13 16:10:31,31030801.0,{}